.dynamic-text {
  display: flex;
  flex-direction: column;
    animation: color 20s alternate infinite;

    span {
      display: inline-block;
      font-family: $font-2;
        font-size: clamp(1rem, 0.6rem + 2vw, 3rem);
        letter-spacing: 2px;
    }
  
}
@keyframes color {
  0% {
    color: blue;
  }
  50% {
    color: #ec006e;
  }
  100% {
    color: blue;
  }
}
