header {
  overflow: visible;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 40%;

  .nav-container {
    overflow: visible;
    display: flex;
    justify-content: flex-start;
    align-items: start;
  }
  .sn-logo {
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: visible;
  }
}