main {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  overflow: visible;

  @media (max-width: 999px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
    grid-template-columns: 120px 1fr 120px;
    }

        
}