.navigation {
  position: relative;
  overflow: visible;
  top: 1rem;
  left: 1.4rem;
  font-size: clamp(1.3rem, 1.15rem + 0.48vw, 1.6rem);
  line-height: 150%;
  color: $color-4;

  // @media screen and (max-width: 480px) {
  //   line-height: 120%;
  // }

  &:before {
    content: "";
    position: absolute;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: $color-3;
    top: -150px;
    left: -160px;
    z-index: -1;
    animation: navAnim 20s infinite alternate;

    @keyframes navAnim {
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
    @media screen and (max-width: 480px) {
      height: 250px;
      width: 250px;
      top: -90px;
      left: -80px;
    }
  }
  .nav-active {
    color: $black;
  }
  ul:hover li:not(:hover) {
    opacity: 0.5;
  }
  ul:hover li:hover {
    color: $black;
    opacity: 1;
  }

  .nav-portfolio {
    cursor: pointer;
    display: flex;
    transition: 0.5s;

    &:hover .nav-projects,
    .nav-projects:hover {
      opacity: 1;
      visibility: visible;

      li {
        transform: rotateY(0deg);
      }
    }

    .nav-projects {
      position: absolute;
      visibility: hidden;
      display: flex;
        gap: 15px;
      opacity: 0;
      padding: 0 30px;
      // width: 300px;
      width: auto;
      transform: translateX(70px);
      transition: 0.3s;
      perspective: 500px;

      // @media screen and (max-width: 1024px) and (orientation: landscape) {
      //   display: flex;
      //   gap: 20px;
      // }

      // @media screen and (max-width: 932px) and (orientation: landscape) {
      //   display: grid;
      //   padding-right: 0;
      //   width: 200px;
      // }

      li {
        transform: rotateY(30deg) scaleX(1.2);
        transform-origin: center;
        transition: 0.3s;

        a {
          display: flex;
        }
      }
    }
  }
}
