.social-network {
  ul {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    li {
      a {
        font-size: clamp(1.3rem, 1.15rem + 0.48vw, 1.6rem);
        transition: 1.1s ease-out;
      }
    }
  }
}
