.contact {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;

  &:after {
    content: "";
    height: 700px;
    width: 700px;
    background: $color-3;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: -460px;
    z-index: -10;
    animation: contactAnim 25s alternate infinite;

    @media screen and (max-width: 840px) {
      height: 400px;
      width: 400px;
      top: 520px;
      right: -140px;
    }
    // @media screen and (max-width: 430px) {
    //   display: none;
    // }

    @keyframes contactAnim {
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  .navigation {
    @media screen and (max-width: 440px) {
      display: none;
    }
  }

  .form-container {
    position: relative;
    max-width: 300px;

    h2 {
      margin-bottom: 50px;

      &:after {
        content: "";
        height: 70px;
        width: 70px;
        border: 1px $color-2 solid;
        border-radius: 50%;
        position: absolute;
        top: -22px;
        left: 133px;
        z-index: -1;
      }
    }

    .form-content {
      display: grid;

      input,
      textarea {
        background: none;
        font-family: $font-1;
        font-size: clamp(1.2rem, 1.0833rem + 0.5333vw, 1.5rem);
        border-bottom: 1px solid $color-2;
        border-radius: 5px;
      }
      input {
        padding: 10px 6px;
        margin-bottom: 30px;
      }

      textarea {
        resize: none;
        padding: 6px 0;
        height: 70px;

        @media screen and (max-width: 540px) {
          width: 75%;
          padding: 12px 0;
        }
      }
      input.button {
        background: $color-3;
        height: 55px;
        width: 126px;
        border-radius: 50px;
        margin-top: 20px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.3s;
        border: none;
      }
    }
  }

  .contact-infos {
    position: relative;
    height: 440px;
    width: 350px;

    h4 {
      color: $color-4;
      font-size: clamp(1.3rem, 1.1056rem + 0.8889vw, 1.8rem);
      font-weight: 200;
      margin-bottom: 10px;
    }

    .content-téléphone,
    .content-email,
    .content-adresse {
      position: absolute;
      transition: 0.3s;
      width: auto;

      &:hover {
        transform: translateX(5px);
      }
    }

    .content-adresse {
      top: 11px;
      right: 0px;
    }

    .content-téléphone {
      top: 35%;
      left: 18%;

      @media screen and (max-width: 540px) {
        text-align: center;
        font-size: 0.8rem;
      }
    }
    .content-email {
      top: 65%;
      @media screen and (max-width: 540px) {
        font-size: 0.8rem;
        text-align: center;
      }
    }

    .credits {
      position: absolute;
      bottom: 5px;
      right: 0;

      @media screen and (max-width: 740px) {
        transform: translateY(20px);
        font-size: 0.7rem;
        margin-right: 1rem;
        grid-area: f;
      }
      p {
        font-size: 0.9rem;
      }
    }
  }
}
