.contact {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: visible;
  display: grid;
  grid-template-rows: 20% 60% 20%;

@media (max-width: 933px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
    grid-template-rows: 30% 55% 15%;
  }

  &:after {
    content: "";
    position: absolute;
    height: 700px;
    width: 700px;
    background: $color-3;
    border-radius: 50%;
    top: 150px;
    right: -460px;
    z-index: -10;
    animation: contactAnim 25s alternate infinite;

    @media screen and (max-width: 768px) {
      height: 400px;
      width: 400px;
      top: 520px;
      right: -140px;
    }

    @keyframes contactAnim {
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    overflow: visible;

    @media (max-width: 999px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
      grid-template-columns: 50px 1fr 50px;
    }

    @media screen and (max-width: 700px) {
      grid-template-columns: 50px 1fr 50px;
    }

    .form-container {
      max-width: 300px;
      overflow: visible;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

    @media (max-width: 999px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
        display: none;
      }
      @media screen and (max-width: 700px) {
        display: none;
      }

      h2 {
        position: relative;
        font-size: clamp(1.2rem, 1.0833rem + 0.5333vw, 1.5rem);
        margin-bottom: 30px;
        overflow: visible;

        &:after {
          content: "";
          height: 70px;
          width: 70px;
          border: 1px $color-2 solid;
          border-radius: 50%;
          position: absolute;
          top: -22px;
          left: 133px;
          z-index: -1;

          @media screen and (max-width: 480px) {
            top: 22px;
            right: -63px;
          }
        }
      }

      .form-content {
        display: grid;

        input,
        textarea {
          background: none;
          font-family: $font-1;
          font-size: clamp(1.2rem, 1.0833rem + 0.5333vw, 1.5rem);
          border-bottom: 1px solid $color-2;
          border-radius: 5px;
        }
        input {
          padding: 10px 6px;
          margin-bottom: 30px;
        }

        textarea {
          resize: none;
          padding: 6px 0;
          height: 70px;
        }

        input.button {
          background: $color-3;
          height: 55px;
          width: 126px;
          border-radius: 50px;
          margin-top: 50px;
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.3s;
          border: none;
        }
      }
    }

    .contact-infos {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      overflow: visible;
      padding-left: 20%;

      @media (max-width: 999px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
        display: grid;
        grid-template-rows: 50% 50%;
        grid-template-columns: 50% 50%;
        grid-template-areas:
          "ad tel"
          "ad mail";
          text-align: center;
            padding-left: 0;
        align-items: center;

        .content-adresse {
          grid-area: ad;
        }

        .content-téléphone {
          grid-area: tel;
        }
        .content-email {
          grid-area: mail;
        }
      }

@media screen and (max-width: 700px) {
  text-align: center;
}

      h4 {
        color: $color-4;
        font-size: clamp(1.1rem, 0.75rem + 1.12vw, 1.8rem);
        font-weight: 200;
        margin-bottom: 10px;
      }

      p {
        font-size: clamp(0.8rem, 0.65rem + 0.48vw, 1.1rem);
        letter-spacing: 2px;
        line-height: 130%;

        @media (max-width: 932px) and (orientation: landscape) and (hover: none) and (pointer: coarse) {
          font-size: 0.8rem;
        }
      }

      .content-téléphone,
      .content-email,
      .content-adresse {
        &:hover {
          -webkit-animation-name: wobble;
          /* Pour les navigateurs qui utilisent des préfixes WebKit */
          animation-name: wobble;
          -webkit-animation-duration: 1s;
          /* Ajustez la durée si nécessaire */
          animation-duration: 1s;
          -webkit-animation-fill-mode: both;
          /* Pour que l'élément garde l'état de la fin de l'animation */
          animation-fill-mode: both;
        }
      }

      @-webkit-keyframes wobble {
        0% {
          -webkit-transform: none;
          transform: none;
        }

        15% {
          -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -5deg);
          transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -5deg);
        }

        30% {
          -webkit-transform: translate3d(13%, 0, 0) rotate3d(0, 0, 1, 3deg);
          transform: translate3d(13%, 0, 0) rotate3d(0, 0, 1, 3deg);
        }

        45% {
          -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
          transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
        }

        60% {
          -webkit-transform: translate3d(7%, 0, 0) rotate3d(0, 0, 1, 2deg);
          transform: translate3d(7%, 0, 0) rotate3d(0, 0, 1, 2deg);
        }

        75% {
          -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
          transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        }

        100% {
          -webkit-transform: none;
          transform: none;
        }
      }

      @keyframes wobble {
        0% {
          -webkit-transform: none;
          transform: none;
        }

        15% {
          -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -5deg);
          transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -5deg);
        }

        30% {
          -webkit-transform: translate3d(13%, 0, 0) rotate3d(0, 0, 1, 3deg);
          transform: translate3d(13%, 0, 0) rotate3d(0, 0, 1, 3deg);
        }

        45% {
          -webkit-transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
          transform: translate3d(-10%, 0, 0) rotate3d(0, 0, 1, -3deg);
        }

        60% {
          -webkit-transform: translate3d(7%, 0, 0) rotate3d(0, 0, 1, 2deg);
          transform: translate3d(7%, 0, 0) rotate3d(0, 0, 1, 2deg);
        }

        75% {
          -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
          transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
        }

        100% {
          -webkit-transform: none;
          transform: none;
        }
      }
    }
  }
}
