.contact {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: visible;
  display: grid;
  grid-template-rows: 15% 70% 15%;

  &:after {
    content: "";
    position: absolute;
    height: 700px;
    width: 700px;
    background: $color-3;
    border-radius: 50%;
    top: 150px;
    right: -460px;
    z-index: -10;
    animation: contactAnim 25s alternate infinite;

    @media screen and (max-width: 768px) {
      height: 400px;
      width: 400px;
      top: 520px;
      right: -140px;
    }

    @keyframes contactAnim {
      50% {
        transform: scale(1.4);
      }
      100% {
        transform: scale(1);
      }
    }
  }

  main {
    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    overflow: visible;

    @media screen and (max-width: 999px) and (orientation: landscape) {
      grid-template-columns: 50px 1fr 50px;
    }

    @media screen and (max-width: 700px) {
      grid-template-columns: 50px 1fr 50px;
    }

    .form-container {
      max-width: 300px;
      overflow: visible;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media screen and (max-width: 999px) and (orientation: landscape) {
        display: none;
      }
      @media screen and (max-width: 700px) {
        display: none;
      }

      h2 {
        position: relative;
        font-size: clamp(1.2rem, 1.0833rem + 0.5333vw, 1.5rem);
        margin-bottom: 50px;
        overflow: visible;

        &:after {
          content: "";
          height: 70px;
          width: 70px;
          border: 1px $color-2 solid;
          border-radius: 50%;
          position: absolute;
          top: -22px;
          left: 133px;
          z-index: -1;

          @media screen and (max-width: 480px) {
            top: 22px;
            right: -63px;
          }
        }
      }

      .form-content {
        display: grid;

        input,
        textarea {
          background: none;
          font-family: $font-1;
          font-size: clamp(1.2rem, 1.0833rem + 0.5333vw, 1.5rem);
          border-bottom: 1px solid $color-2;
          border-radius: 5px;
        }
        input {
          padding: 10px 6px;
          margin-bottom: 30px;
        }

        textarea {
          resize: none;
          padding: 6px 0;
          height: 70px;
        }

        input.button {
          background: $color-3;
          height: 55px;
          width: 126px;
          border-radius: 50px;
          margin-top: 20px;
          font-size: 1.2rem;
          cursor: pointer;
          transition: 0.3s;
          border: none;
        }
      }
    }

    .contact-infos {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;

      @media screen and (max-width: 999px) and (orientation: landscape) {
        text-align: center;
      }

      @media screen and (max-width: 700px) {
        text-align: center;
      }

      h4 {
        color: $color-4;
        font-size: clamp(1.1rem, 0.75rem + 1.12vw, 1.8rem);
        font-weight: 200;
        margin-bottom: 10px;
      }

      p {
        font-size: clamp(0.8rem, 0.65rem + 0.48vw, 1.1rem);
        letter-spacing: 2px;
        line-height: 130%;
      }

      .content-téléphone,
      .content-email,
      .content-adresse {
        &:hover {
          transform: translateX(5px);
        }
      }

      // .content-adresse {
      //   @media screen and (max-width: 768px) {
      //     text-align: center;
      //     font-size: 0.8rem;
      //   }
      // }

      // .content-téléphone {
      //   @media screen and (max-width: 768px) {
      //     text-align: center;
      //     font-size: 0.8rem;
      //   }
      // }
      // .content-email {
      //   @media screen and (max-width: 768px) {
      //     font-size: 0.8rem;
      //     text-align: center;
      //   }
      // }
    }
  }
}
