.home {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: visible;
  display: grid;
  grid-template-rows: 20% 60% 20%;


  @media screen and (max-width: 933px) and (orientation: landscape) {
      grid-template-rows: 30% 40% 30%;
    }

  &:after {
    content: "";
    position: absolute;
    height: 800px;
    width: 800px;
    background: $color-3;
    border-radius: 50%;
    bottom: -480px;
    right: 0px;
    z-index: -2;
    animation: homeAnim 26s infinite alternate;

    @media screen and (max-width: 769px) {
      height: 600px;
      width: 600px;
      bottom: -270px;
    }

    @keyframes homeAnim {
      50% {
        transform: scale(0.8);
      }
      100% {
        transform: scale(1.3);
      }
    }
    @media screen and (max-width: 480px) {
      height: 400px;
      width: 400px;
      bottom: -190px;
    }
  }

  .home-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: visible;

    .main-content {
      user-select: none;
      overflow: visible;
      display: grid;

      h1 {
        font-size: clamp(1rem, 0.19999999999999996rem + 4vw, 5rem);
        position: relative;
        overflow: visible;
        font-family: $font-2;
        letter-spacing: 2px;
        // font-weight: 900;

        &:before {
          content: "";
          position: absolute;
          height: 225px;
          width: 225px;
          border-radius: 50%;
          border: 1px $color-2 solid;
          top: -40px;
          left: -180px;
          z-index: -1;
          animation: h1Anim 1.5s forwards ease;
          transform: scale(0);

          @media screen and (max-width: 850px) {
            height: 110px;
            width: 110px;
            left: -40px;
            top: -15px;
          }

          @keyframes h1Anim {
            to {
              transform: scale(1);
            }
          }
        }
      }
      h2 {
        font-size: clamp(1rem, 0.4rem + 3vw, 4rem);
        font-weight: 100;
        letter-spacing: 2px;
        margin-top: 5px;
      }
    }
  }
  
}
