  .projects_sass {
    height: 70%;
    width: 80%;

    #projects-sass-menu {
      height: 100%;
      width: 100%;

      // .react-multi-carousel-dot-list {
      //   bottom: -100px;
      //   z-index: 3;
      // }

      
    }
  }

