.projects_js {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  #projects-js-menu {
    height: 100%;
    width: 90%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 999px) and (orientation: landscape) {
      width: 60%;
      max-width: 300px;
    }

    div {
      height: 100%;
      width: 100%;

      .carousel-container {
        height: 100%;
        width: 100%;

        ul {
          li {
            padding: 0 20px;

            .en-tete {
              width: 100%;
              height: auto;
              display: flex;
              align-items: center;
              justify-content: space-between;

              h2 {
                font-size: clamp(1.2rem, 0.3rem + 2.88vw, 3rem);
                margin-bottom: 12px;
                font-family: $font-2;
                color: $color-2;
                transform: scaleX(0);
                animation: transformTitle 1.5s ease forwards;
                transform-origin: 150%;

                @media screen and (max-width: 999px) and (orientation: landscape) {
                  font-size: 1.2rem;
                }

                @keyframes transformTitle {
                  to {
                    transform: scaleX(1);
                  }
                }
              }

              svg {
                font-size: clamp(1.2rem, 0.3rem + 2.88vw, 3rem);
                margin-bottom: 12px;

                @media screen and (max-width: 999px) and (orientation: landscape) {
                  font-size: 1.2rem;
                }
              }
            }

            .card {
              position: relative;
              transition: all 0.3s ease;
              overflow: hidden;

              &:hover span,
              span:hover {
                background-image: linear-gradient(to top,
                    rgba(255, 255, 255, 1) 0%,
                    rgba(255, 255, 255, 0.9) 60%,
                    rgba(255, 255, 255, 0) 100%);
                visibility: visible;
                transform: translateY(0);
              }

              span {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                padding: 0.5rem;
                margin: 0 auto;
                line-height: 120%;
                font-size: 1.5rem;
                visibility: hidden;
                transition: 0.5s ease;
                transform: translateY(300px);

                h3 {
                  padding-bottom: 10px;
                  color: rgb(2, 121, 148);
                }

                p {
                  margin-bottom: 30px;
                  color: $black;
                  font-size: clamp(0.9rem, 0.75rem + 0.48vw, 1.2rem);
                }

                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  color: $color-1;
                  background: $color-2;
                  width: 130px;
                  font-size: 1rem;
                  padding: 10px;
                  border-radius: 10px;

                  @media screen and (max-width: 410px) {
                    width: 100px;
                  }

                  &:hover {
                    color: $color-2;
                    background: $color-3;
                  }
                }
              }
            }

            .custom-dot-list-style {
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              width: 200px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}