.project {
  position: relative;
  overflow: visible;
  height: 100vh;
  width: 100vw;
  display: grid;
    grid-template-rows: 20% 60% 20%;


  @media screen and (max-width: 933px) and (orientation: landscape) {
      grid-template-rows: 30% 60% 10%;
    }

  &:after {
    content: "";
    position: absolute;
    height: 340px;
    width: 340px;
    border: 1px solid $color-2;
    border-radius: 50%;
    bottom: -200px;
    left: -80px;
    z-index: -1;

    @media screen and (max-width: 810px) {
      height: 200px;
      width: 200px;
      bottom: -110px;
    }
  }

  @media screen and (min-width: 768px) and (orientation: portrait) {
    align-items: center;
  }
}
